body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
#profiles {
  border: 2px solid #000000;
  padding: 0.5em;
}
#profiles th {
  padding: 0.5em;
}
#profiles td {
  padding: 0.5em;
  border: 1px solid #cccccc;
}
