body
  padding 50px
  font 14px "Lucida Grande", Helvetica, Arial, sans-serif;

a 
  color #00B7FF
  
rndCorner(rad, sides...)
  if length(sides) is 2
    -moz-border-radius-{sides[0]}{sides[1]} rad
    -webkit-border-{sides[0]}-{sides[1]}-radius rad
    border-{sides[0]}-{sides[1]}-radius rad
  else
    -webkit-border-radius rad
    -moz-border-radius rad
    border-radius rad
  
borderIt(rad = 0, size = 1px, type = solid, col = #000) 
  border size type col
  if rad {rndCorner(rad)}

.pad
  padding 0.5em

tdRad = 9px

#profiles
  width 950px
  borderIt 20px, 2px
  @extend .pad
  background: #000;
  color: #fff;
  th
    @extend .pad
  tbody
    td 
      @extend .pad    
      background blue + 35%
      borderIt(col: @background)
      color pink - green - brown  + gold - green
      color desaturate(@color + 100, 100)
      &:hover 
        color @background + 180deg
        background desaturate(@background, 40)
        border-color @background

    tr
      &:first-child
          td:first-child
           rndCorner tdRad top left
          td:last-child
           rndCorner tdRad top right
      &:last-child
          td:first-child
           rndCorner tdRad bottom left 
          td:last-child
           rndCorner tdRad bottom right
  tfoot
    font-size 1.5em
    td
    a
      text-decoration none
      color #fff - 10%
      &:hover 
        color #fff
        
  
